name: test

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/**'
      - '**/*.go'
  pull_request:
    branches:
      - main
    paths:
      - '**/*.go'

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.23

      - name: Check out code
        uses: actions/checkout@v5

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          # Required: the version of golangci-lint is required and must be specified
          # without patch version: we always use the latest patch version.
          version: v2.1

      - name: Test
        run: |
          go test -race -coverprofile=c.out ./...
          go tool cover -html=c.out -o=coverage.html

